extends layout
block content
    h1= title

    if (toShow == null)
        h3 No instance to delete
    else
        - let laptopid = toShow._id
        - let laptopbrand = toShow.laptop_brand
        - let laptopcost = toShow.laptop_cost
        - let laptopmodel = toShow.laptop_model
        - let actionid = "/resource/laptops/" + laptopid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='laptopAttr mr-3') Laptop ID is:
                div #{laptopid}
            div.row
                div(class='laptopAttr mr-3') Laptop Brand is:
                div #{laptopbrand}
            div.row
                div(class='laptopAttr mr-3') Laptop Model is:
                div #{laptopmodel}
            div.row
                div(class='laptopAttr mr-3') Laptop Cost is:
                div #{laptopcost}    

        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
        function cancel() {
            window.location.href='/laptops'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE'
            }).then((resp) => {
                return resp.json();
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/laptops'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }